@media screen and (max-width: 768px) {
    .contenedor {
      grid-template-columns: repeat (2, 1fr);
      grid-template-rows: (6, 1fr);
      grid-template-areas:
        "header header"
        "contenedor_carousel contenedor_carousel"
        "destacados destacados"
        "card1 card2"
        "card3 card4"
        "pie pie";
    }
    .contenedor-productos {
      display: grid;
      grid-template-columns: repeat (2, 1fr);
      grid-template-rows: (8, 1fr);
      grid-template-areas:
        "header header"
        "contenedor_carousel contenedor_carousel"
        "destacados destacados"
        "card1 card2"
        "card3 card4"
        "card5 card6"
        "card7 card8"
        "pie pie";
    }

  /*clase agregada para armado de grid Sobre mí*/
  .contenedor-sobreMi {
    display: grid;
    @include backgrounds($color4);
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: (5, 1fr);
    grid-template-areas:
      "header header"
      "destacados destacados"
      "imagen imagen"
      "sectionText sectionText"
      "pie pie";
  }

/*clase agregada para armado de grid Form de Contacto*/
.contenedor-form {
  display: grid;
  @include backgrounds($color4);
  grid-template-columns: repeat (2, 1fr);
  grid-template-rows: (5, 1fr);
  grid-template-areas:
    "header header"
    "destacados destacados"
    "formulario formulario"
    "sectionForm sectionForm"
    "pie pie";
}
  }

  @media screen and (max-width: 414px) {
    .contenedor {
      grid-template-columns: repeat (1fr);
      grid-template-rows: (8, 1fr);
      grid-template-areas:
        "header"
        "contenedor_carousel"
        "destacados"
        "card1"
        "card2"
        "card3"
        "card4"
        "pie";
    }
  
    .contenedor-productos {
      display: grid;
      grid-template-columns: repeat (1fr);
      grid-template-rows: (12, 1fr);
      grid-template-areas:
        "header"
        "contenedor_carousel"
        "destacados"
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
        "card7"
        "card8"
        "pie";
    }
    /*clase agregada para armado de grid Form de Contacto*/
.contenedor-form {
  display: grid;
  @include backgrounds($color4);
  grid-template-columns: repeat (1fr);
  grid-template-rows: (5, 1fr);
  grid-template-areas:
    "header "
    "destacados"
    "formulario"
    "sectionForm"
    "pie";
}
  }