@media screen and (max-width: 768px) {
    .contenedor {
      grid-template-columns: repeat (4, 1fr);
      grid-template-rows: (5, 1fr);
      grid-template-areas:
        "header header header header"
        "destacados destacados destacados destacados"
        "card1 card1 card2 card2"
        "card3 card3 card4 card4"
        "pie pie pie pie";
    }
    .navbar ul {
      display: flex;
      list-style: none;
      justify-content: center;
      gap: 2rem;
      margin-right: 2rem;
    }
    .sectionText {
      font-size: 0.8rem;
    }
    .contenedor-productos {
      display: grid;
      grid-template-columns: repeat (4, 1fr);
      grid-template-rows: (7, 1fr);
      grid-template-areas:
        "header header header header"
        "destacados destacados destacados destacados"
        "card1 card1 card2 card2"
        "card3 card3 card4 card4"
        "card5 card5 card6 card6"
        "card7 card7 card8 card8"
        "pie pie pie pie";
    }
  }

  @media screen and (max-width: 620px) {
    .contenedor {
      grid-template-columns: repeat (4, 1fr);
      grid-template-rows: (7, 1fr);
      grid-template-areas:
        "header header header header"
        "destacados destacados destacados destacados"
        "card1 card1 card1 card1"
        "card2 card2 card2 card2"
        "card3 card3 card3 card3"
        "card4 card4 card4 card4"
        "pie pie pie pie";
    }
  
    .contenedor-productos {
      display: grid;
      grid-template-columns: repeat (4, 1fr);
      grid-template-rows: (11, 1fr);
      grid-template-areas:
        "header header header header"
        "destacados destacados destacados destacados"
        "card1 card1 card1 card1"
        "card2 card2 card2 card2"
        "card3 card3 card3 card3"
        "card4 card4 card4 card4"
        "card5 card5 card5 card5"
        "card6 card6 card6 card6"
        "card7 card7 card7 card7"
        "card8 card8 card8 card8"
        "pie pie pie pie";
    }
  }