@import "header";
@import "footer";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin backgrounds($colors){
  background-color: $colors;
}

/*clase agregada para armado de grid Home*/
.contenedor {
  display: grid;
 /* @include backgrounds($color1);*/
  grid-template-columns: repeat (4, 1fr);
  grid-template-rows: (4, 1fr);
  grid-template-areas:
    "headerHome headerHome headerHome headerHome"
    "destacados destacados destacados destacados"
    "card1 card2 card3 card4"
    "pie pie pie pie";
}

/*clase agregada para armado de grid Productos*/
.contenedor-productos {
  display: grid;
  @include backgrounds($color2);
  grid-template-columns: repeat (4, 1fr);
  grid-template-rows: (4, 1fr);
  grid-template-areas:
    "header header header header"
    "destacados destacados destacados destacados"
    "card1 card2 card3 card4"
    "pie pie pie pie";

}

/*clase agregada para armado de grid Sobre mí*/
.contenedor-sobreMi,
.contenedor-novedades {
  display: grid;
  @include backgrounds($color3);
  grid-template-columns: repeat (4, 1fr);
  grid-template-rows: (4, 1fr);
  grid-template-areas:
    "header header header header"
    "destacados destacados destacados destacados"
    "sectionText sectionText sectionText sectionText"
    "pie pie pie pie";
}
/*clase agregada para armado de grid Form de Contacto*/
.contenedor-form {
  display: grid;
  @include backgrounds($color4);
  grid-template-columns: repeat (4, 1fr);
  grid-template-rows: (4, 1fr);
  grid-template-areas:
    "header header header header"
    "destacados destacados destacados destacados"
    "formulario formulario formulario formulario"
    "pie pie pie pie";
}


.titulo {
  grid-area: titulo;
  width: 100%;
}

.sectionText {
  grid-area: sectionText;
}

h1 {
  text-align: center;
  padding-top: 3%;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2rem;
  margin-right: 2rem;
}

.navbar ul li a {
  color: #ffcaaf;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar ul li a:hover {
  color: rgb(202, 163, 236);
}

.section-productos {
  display: flex;
  flex-direction: column;
  background-color: #ffcaaf;
}

.destacados {
  display: flex;
  grid-area: destacados;
  justify-content: center;
  width: 100%;
}

.textos {
  display: flex;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 1.5rem;
}

.card {
  padding: 12%;
  width: 100%;

}
.card1 {
@extend .card;
  grid-area: card1;
   img {
    width: 100%;
  }
}
.card2 {
  @extend .card;
  grid-area: card2;
   img {
    width: 100%;
  }
}
.card3 {
  @extend .card;
  grid-area: card3;
  img {
    width: 100%;
  }
}
.card4 {
  @extend .card;
  grid-area: card4;
  img {
    width: 100%;
  }
}

.scale:hover {
  transform: scale(1.1, 1.1);
  transition: all 1s ease;
}

/*.textos {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
}*/
.sectionText {
  text-align: justify;
  padding: 1rem;
  padding: 4%;
  width: 100%;
}

form {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5%;
  font-weight: bold;
  color: rgb(8, 0, 0);
}
.mb-3 {
  width: 60%;
}
.btn {
  margin: 2rem auto;
  width: 20%;
  background-color: rgb(114, 40, 92);
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  font-size: large;
}
input,
textarea {
  background-color: white(238, 238, 245, 0.432);
  color: rgb(26, 22, 22);
}
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  grid-area: formulario;
}
.nombre {
  font-size: larger;
}
.email {
  font-size: larger;
}
.telefono {
  font-size: larger;
}
.mensaje {
  font-size: larger;
}
label {
  font-size: larger;
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: (5, 1fr);
    grid-template-areas:
      "headerHome headerHome headerHome headerHome"
      "destacados destacados destacados destacados"
      "card1 card1 card2 card2"
      "card3 card3 card4 card4"
      "pie pie pie pie";
  }

  .navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
    margin-right: 2rem;
  }

  .sectionText {
    font-size: 0.8rem;
  }
  .contenedor-productos {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: (5, 1fr);
    grid-template-areas:
      "header header header header"
      "destacados destacados destacados destacados"
      "card1 card1 card2 card2"
      "card3 card3 card4 card4"
      "pie pie pie pie";
  }
}

@media screen and (max-width: 320px) {
  .contenedor {
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: (7, 1fr);
    grid-template-areas:
      "headerHome headerHome headerHome headerHome"
      "destacados destacados destacados destacados"
      "card1 card1 card1 card1"
      "card2 card2 card2 card2"
      "card3 card3 card3 card3"
      "card4 card4 card4 card4"
      "pie pie pie pie";
  }
  .card1 img,
  .card2 img,
  .card3 img,
  .card4 img {
    width: 100%;
    margin-left: 10%;
  }

  .contenedor-productos {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: (7 1fr);
    grid-template-areas:
      "header header header header"
      "destacados destacados destacados destacados"
      "card1 card1 card1 card1"
      "card2 card2 card2 card2"
      "card3 card3 card3 card3"
      "card4 card4 card4 card4"
      "pie pie pie pie";
  }
}
