@import "header";
@import "footer";
@import "variables";
@import "contenedores_grid";
@import "contacto";
@import "product_cards";
@import "media_query";
@import "titulos_texto";
@import "carousel";
@import "product_cards";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

