@import "header";
@import "footer";
@import "variables";
@import "contenedores_grid";
@import "contacto";
@import "product_cards";
@import "media_query";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  grid-area: titulo;
  width: 100%;
}

.sectionText {
  grid-area: sectionText;
}

h1 {
  text-align: center;
  padding-top: 3%;
}

h2{
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: x-large;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2rem;
  margin-right: 2rem;
}

.navbar ul li a {
  color: #ffcaaf;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar ul li a:hover {
  color: rgb(202, 163, 236);
}
.destacados {
  display: flex;
  grid-area: destacados;
  justify-content: center;
  width: 100%;
}

.sectionText {
  text-align: justify;
  padding-right: 4%;
  padding-left: 4%;
  width: 100%;
}





